In [1]:
import pandas as pd
import numpy as np
import re

### Concatenate CSVs from PDFs

In [2]:
df_proposed = pd.read_csv("../Original_PDFs/formattedCSVs/AllCurrentProposedNPL_formatted.csv")
df_final = pd.read_csv("../Original_PDFs/formattedCSVs/AllCurrentFinalNPL_formatted.csv")
df_deleted = pd.read_csv("../Original_PDFs/formattedCSVs/AllCurrentDeletedNPL_formatted.csv")

#### Add a new column to each with the NPL status from the PDF

In [3]:
new_col = "pdf_npl_status"

df_proposed[new_col] = "proposed"
df_final[new_col] = "final"
df_deleted[new_col] = "deleted"

In [4]:
df_proposed.head(2)

,Region,State,Site Name,Site ID,EPA ID,Address,City,Zip,County,SAA,FF\nInd,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
0,1,MA,GE - HOUSATONIC RIVER,100460,MAD002084093,"BETWEEN PITTSFIELD AND LENOX, MA",PITTSFIELD,1201,BERKSHIRE,N,N,Y,Mashantucket Pequot Indian Tribe (Former); Mas...,42.450278,-73.232222,09/25/97,proposed
1,1,NH,MOHAWK TANNERY,101188,NHD981889629,FAIRMONT STREET,NASHUA,3060,HILLSBOROUGH,N,N,N,NaN,42.765569,-71.487778,05/11/00,proposed

In [5]:
df_final.head(2)

,Region,State,Site Name,Site ID,EPA ID,Address,City,Zip,County,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
0,1,CT,BARKHAMSTED-NEW HARTFORD LANDFILL,100255,CTD980732333,ROUTE 44,BARKHAMSTED,6063.0,LITCHFIELD,N,N,NaN,41.893947,-72.989337,10/04/89,final
1,1,CT,BEACON HEIGHTS LANDFILL,100180,CTD072122062,BLACKBERRY HILL ROAD,BEACON FALLS,6403.0,NEW HAVEN,N,N,NaN,41.431950,-73.035281,09/08/83,final

In [6]:
df_deleted.head(2)

,Region,State,Site Name,Site ID,EPA ID,Address,City,Zip,County,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
0,1,CT,CHESHIRE GROUND WATER CONTAMINATION,100265,CTD981067317,604 WEST JOHNSON AVENUE,CHESHIRE,6410,NEW HAVEN,N,N,NaN,41.5575,-72.910833,07/02/97,deleted
1,1,CT,NUTMEG VALLEY ROAD,100250,CTD980669261,NUTMEG VALLEY ROAD,WOLCOTT,6716,NEW HAVEN,N,N,NaN,41.5748,-72.998600,09/23/05,deleted

#### check columns all match before attempting to join

In [7]:
proposed_cols = df_proposed.columns.tolist()
final_cols = df_final.columns.tolist()
deleted_cols = df_deleted.columns.tolist()

# print(df_proposed.shape)
# print(df_final.shape)
# print(df_deleted.shape)

columns_match = set(df_proposed.columns) == set(df_final.columns) == set(df_proposed.columns)
print("all match:", columns_match)

print("proposed and final match:", proposed_cols == final_cols)
print("deleted and final match:", final_cols == deleted_cols)

all match: False
proposed and final match: False
deleted and final match: True

In [8]:
col_matches = [item for item in proposed_cols if item in final_cols]

# Mismatches
only_in_proposed_cols = [item for item in proposed_cols if item not in final_cols]
only_in_final_cols = [item for item in final_cols if item not in proposed_cols]

print("col_matches", col_matches)
print("only_in_proposed_cols",only_in_proposed_cols)
print("only_in_final_cols", only_in_final_cols)

col_matches ['Region', 'State', 'Site Name', 'Site ID', 'EPA ID', 'Address', 'City', 'Zip', 'County', 'NAI', 'Native American Entity (NAI Status)', 'Latitude', 'Longitude', 'NPL Status Date', 'pdf_npl_status']
only_in_proposed_cols ['SAA', 'FF\nInd']
only_in_final_cols ['FF Ind']

In [9]:
# in proposed: change 'FF\nInd' to 'FF Ind'
df_proposed = df_proposed.rename(columns={'FF\nInd': 'FF Ind'})

In [10]:
# in final and deleted add SAA column with NaN
df_final['SAA'] = np.nan
df_deleted['SAA'] = np.nan

In [11]:
df_proposed.head(2)

,Region,State,Site Name,Site ID,EPA ID,Address,City,Zip,County,SAA,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
0,1,MA,GE - HOUSATONIC RIVER,100460,MAD002084093,"BETWEEN PITTSFIELD AND LENOX, MA",PITTSFIELD,1201,BERKSHIRE,N,N,Y,Mashantucket Pequot Indian Tribe (Former); Mas...,42.450278,-73.232222,09/25/97,proposed
1,1,NH,MOHAWK TANNERY,101188,NHD981889629,FAIRMONT STREET,NASHUA,3060,HILLSBOROUGH,N,N,N,NaN,42.765569,-71.487778,05/11/00,proposed

In [12]:
df_final.head(2)

,Region,State,Site Name,Site ID,EPA ID,Address,City,Zip,County,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status,SAA
0,1,CT,BARKHAMSTED-NEW HARTFORD LANDFILL,100255,CTD980732333,ROUTE 44,BARKHAMSTED,6063.0,LITCHFIELD,N,N,NaN,41.893947,-72.989337,10/04/89,final,NaN
1,1,CT,BEACON HEIGHTS LANDFILL,100180,CTD072122062,BLACKBERRY HILL ROAD,BEACON FALLS,6403.0,NEW HAVEN,N,N,NaN,41.431950,-73.035281,09/08/83,final,NaN

In [13]:
columns_match = set(df_proposed.columns) == set(df_final.columns) == set(df_proposed.columns)
print(columns_match)

True

In [14]:
# now reorder so they match completely before concatenating

In [15]:
proposed_cols = df_proposed.columns.tolist()
df_final = df_final[proposed_cols]
df_deleted = df_deleted[proposed_cols]

In [16]:
columns_match_in_order = (df_proposed.columns == df_final.columns).all() and (df_proposed.columns == df_deleted.columns).all()
print(columns_match_in_order)

True

In [17]:
df_pdfs_all = pd.concat([df_proposed, df_final, df_deleted], ignore_index=True)

In [18]:
df_pdfs_all

,Region,State,Site Name,Site ID,EPA ID,Address,City,Zip,County,SAA,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
0,1,MA,GE - HOUSATONIC RIVER,100460,MAD002084093,"BETWEEN PITTSFIELD AND LENOX, MA",PITTSFIELD,1201.0,BERKSHIRE,N,N,Y,Mashantucket Pequot Indian Tribe (Former); Mas...,42.450278,-73.232222,09/25/97,proposed
1,1,NH,MOHAWK TANNERY,101188,NHD981889629,FAIRMONT STREET,NASHUA,3060.0,HILLSBOROUGH,N,N,N,NaN,42.765569,-71.487778,05/11/00,proposed
2,2,NJ,HISTORIC POTTERIES,203535,NJN000203535,Mulberry Street & Breunig Avenue,TRENTON,8638.0,MERCER,N,N,N,NaN,40.236541,-74.739361,09/05/24,proposed
3,2,NJ,ROUTE 561 DUMP,203909,NJ0000453514,ROUTE 561,GIBBSBORO,8026.0,CAMDEN,N,N,N,NaN,39.836110,-74.958333,07/28/98,proposed
4,3,DE,MILLSBORO TCE,306645,DEN000306645,225 WEST DUPONT HIGHWAY,MILLSBORO,19966.0,SUSSEX,N,N,N,NaN,38.588158,-75.298061,09/23/09,proposed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,10,WA,TOFTDAHL DRUMS,1000961,WAD980723506,22033 NE 189 ST,BRUSH PRAIRIE,98606.0,CLARK,NaN,N,N,NaN,45.754900,-122.446400,12/23/88,deleted
1836,10,WA,TULALIP LANDFILL,1000878,WAD980639256,TULALIP INDIAN RESERVATION,MARYSVILLE,98270.0,SNOHOMISH,NaN,N,Y,Tulalip Tribes of Washington (Current),48.041667,-122.182222,09/18/02,deleted
1837,10,WA,VANCOUVER WATER STATION #1 CONTAMINATION,1001733,WAD988519708,E. RESERVE AND N.E. FOURTH PLAIN BLVD.,VANCOUVER,98663.0,CLARK,NaN,N,N,NaN,45.638471,-122.645417,02/06/18,deleted
1838,10,WA,VANCOUVER WATER STATION #4 CONTAMINATION,1001371,WAD988475158,5TH + BLANDFORD ST,VANCOUVER,98661.0,CLARK,NaN,N,N,NaN,45.619500,-122.622472,02/06/18,deleted
1839,10,WA,YAKIMA PLATING CO.,1000705,WAD040187890,1804 S 3RD AV,YAKIMA,98902.0,YAKIMA,NaN,N,Y,Confederated Tribes and Bands of the Yakama Na...,46.572300,-120.508900,08/23/94,deleted

### Join PDFs df with Scraping csv

In [19]:
df_scraped = pd.read_csv("../EPAScrapingCode/scraped_data_formatted.csv")

In [20]:
df_scraped

,EPA ID,Site Name,City,Country,State,National Priorities List Status,Superfund Alternative Approach,Construction Complete,Site-wide Ready for Anticipated Use,Human Exposure Under Control,Groundwater Migration Under Control
0,NED981713837,10TH STREET SITE,COLUMBUS,PLATTE,NE,Final NPL,No,Yes,Yes,Yes,Yes
1,KSD007241656,29TH & MEAD GROUND WATER CONTAMINATION,WICHITA,SEDGWICK,KS,Deleted NPL,No,No,No,Yes,Yes
2,ALN000410750,35TH AVENUE,BIRMINGHAM,JEFFERSON,AL,Proposed NPL,No,No,No,Status Unavailable,Status Unavailable
3,KSD981710247,57TH AND NORTH BROADWAY STREETS SITE,WICHITA,SEDGWICK,KS,Final NPL,No,Yes,No,Yes,No
4,MDD980918387,68TH STREET DUMP/INDUSTRIAL ENTERPRISES,ROSEDALE,BALTIMORE,MD,Proposed NPL,Yes,No,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...
1899,NYD000511733,YORK OIL CO.,MOIRA,FRANKLIN,NY,Final NPL,No,Yes,Yes,Yes,Yes
1900,AZ0971590062,YUMA MARINE CORPS AIR STATION,YUMA,YUMA,AZ,Final NPL,No,Yes,No,No,Insufficient Data
1901,OHD980794598,ZANESVILLE WELL FIELD,ZANESVILLE,MUSKINGUM,OH,Final NPL,No,Yes,Yes,Yes,Yes
1902,FLD049985302,ZELLWOOD GROUND WATER CONTAMINATION,ZELLWOOD,ORANGE,FL,Final NPL,No,Yes,Yes,Yes,Yes
1903,NJD986643153,ZSCHIEGNER REFINING,HOWELL TOWNSHIP,MONMOUTH,NJ,Final NPL,No,Yes,Yes,Yes,Yes

In [21]:
df_joined = pd.merge(df_scraped, df_pdfs_all, on="EPA ID", how="outer")

In [22]:
df_joined

,EPA ID,Site Name_x,City_x,Country,State_x,National Priorities List Status,Superfund Alternative Approach,Construction Complete,Site-wide Ready for Anticipated Use,Human Exposure Under Control,...,Zip,County,SAA,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
0,AK0001897602,SALT CHUCK MINE,THORNE BAY,[Blank County],AK,Final NPL,No,No,No,Yes,...,99919.0,NaN,NaN,N,Y,Organized Village of Kasaan (Current),55.626442,-132.558853,03/04/10,final
1,AK1570028646,EIELSON AIR FORCE BASE,FAIRBANKS,FAIRBANKS NORTH STAR,AK,Final NPL,No,Yes,No,Insufficient Data,...,99702.0,FAIRBANKS NORTH STAR,NaN,Y,N,NaN,64.671450,-147.049200,11/21/89,final
2,AK4170024323,ADAK NAVAL AIR STATION,ADAK,[Blank County],AK,Final NPL,No,No,No,Yes,...,99546.0,NaN,NaN,Y,N,NaN,51.877500,-176.652500,05/31/94,final
3,AK6210022426,FORT WAINWRIGHT,FORT WAINWRIGHT,[Blank County],AK,Final NPL,No,Yes,No,Insufficient Data,...,99703.0,NaN,NaN,Y,N,NaN,64.823000,-147.610600,08/30/90,final
4,AK6214522157,FORT RICHARDSON (USARMY),ANCHORAGE,[Blank County],AK,Final NPL,No,Yes,No,Insufficient Data,...,99505.0,NaN,NaN,Y,N,NaN,61.258333,-149.700000,05/31/94,final
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,WVN000306876,NORTH 25TH STREET GLASS AND ZINC,CLARKSBURG,HARRISON,WV,Final NPL,No,No,No,No,...,26301.0,HARRISON,NaN,N,N,NaN,39.297053,-80.357433,09/09/16,final
1900,WVSFN0305428,RAVENSWOOD PCE,RAVENSWOOD,JACKSON,WV,Final NPL,No,Yes,Yes,Yes,...,26164.0,JACKSON,NaN,N,N,NaN,38.951667,-81.761667,09/23/04,final
1901,WY5571924179,F.E. WARREN AIR FORCE BASE,CHEYENNE,LARAMIE,WY,Final NPL,No,No,No,Insufficient Data,...,82005.0,LARAMIE,NaN,Y,N,NaN,41.152742,-104.862334,02/21/90,final
1902,WYD061112470,BAXTER/UNION PACIFIC TIE TREATING,LARAMIE,ALBANY,WY,Deleted NPL,No,Yes,No,Yes,...,82070.0,ALBANY,NaN,N,N,NaN,41.295174,-105.603235,12/06/99,deleted
1903,WYD981546005,MYSTERY BRIDGE RD/U.S. HIGHWAY 20,EVANSVILLE,NATRONA,WY,Deleted NPL,No,Yes,Yes,Yes,...,82636.0,NATRONA,NaN,N,N,NaN,42.860581,-106.228800,09/20/19,deleted

In [23]:
df_joined.columns.tolist()

['EPA ID',
 'Site Name_x',
 'City_x',
 'Country',
 'State_x',
 'National Priorities List Status',
 'Superfund Alternative Approach',
 'Construction Complete',
 'Site-wide Ready for Anticipated Use',
 'Human Exposure Under Control',
 'Groundwater Migration Under Control',
 'Region',
 'State_y',
 'Site Name_y',
 'Site ID',
 'Address',
 'City_y',
 'Zip',
 'County',
 'SAA',
 'FF Ind',
 'NAI',
 'Native American Entity (NAI Status)',
 'Latitude',
 'Longitude',
 'NPL Status Date',
 'pdf_npl_status']

In [24]:
df_joined.dtypes

EPA ID                                  object
Site Name_x                             object
City_x                                  object
Country                                 object
State_x                                 object
National Priorities List Status         object
Superfund Alternative Approach          object
Construction Complete                   object
Site-wide Ready for Anticipated Use     object
Human Exposure Under Control            object
Groundwater Migration Under Control     object
Region                                 float64
State_y                                 object
Site Name_y                             object
Site ID                                float64
Address                                 object
City_y                                  object
Zip                                    float64
County                                  object
SAA                                     object
FF Ind                                  object
NAI                                     object
Native American Entity (NAI Status)     object
Latitude                               float64
Longitude                              float64
NPL Status Date                         object
pdf_npl_status                          object
dtype: object

#### Cleanup thoughts
1. format zip to remove decimal points and make sure all have 5 numbers
2. change all relevant columns to object
3. compare "Site Name_x" and "Site Name_y" - should theoretically match
4. compare "State_x" and "State_y" - should theoretically match
5. compare "City_x" and "City_y" - should theoretically match
6. compare "pdf_npl_status" and "National Priorities List Status" - should be able to remove "pdf_npl_status"
7. check out "Country" and "County"
8. check out Latitude and Longitude columns
9. add column for site link

#### THEN join with the Contaminants & Remedies CSV

In [25]:
# 1. format zip to remove decimal points and make sure all have 5 numbers

In [26]:
# it looks like zeroes were removed from the beginning of zip codes, so any that are 3 or 4 long need zero before

In [407]:
# def check_zip_code(x):
#     if pd.notna(x):
#         digits = len(str(int(x)))
#         if digits != 5:
#             print(x)

# df_joined['Zip'].apply(check_zip_code)

# zip_rows_with_nan = df_joined[df_joined['Zip'].isna()]
# print(len(zip_rows_with_nan))

In [408]:
# all_difs = []
for index, row in df_joined.iterrows():
    zip = row['Zip']
    if not pd.isna(zip):
        zip_str = str(zip)
        # print(zip_str)
        pattern = r'\.0$'
        fixed_zip = re.sub(pattern, '', zip_str)        
        if len(fixed_zip) != 5:
            diff = 5 - len(fixed_zip)
            # print(diff)
            # if diff not in all_difs:
            #     all_difs.append(diff)
            if diff == 1:
                fixed_zip = "0" + fixed_zip
            if diff == 2:
                fixed_zip = "00" + fixed_zip
        # print(fixed_zip)
# print(all_difs)

In [27]:
df_joined['Zip'] = df_joined['Zip'].astype(str)

In [28]:
def fix_zip_code(x):
    nan = x == 'nan'
    if nan or pd.isna(x):
        # print('nan')
        return np.nan
    else:
        pattern = r'\.0$'
        fixed_zip = re.sub(pattern, '', x)        
        if len(fixed_zip) != 5:
            diff = 5 - len(fixed_zip)
            if diff == 1:
                fixed_zip = "0" + fixed_zip
            if diff == 2:
                fixed_zip = "00" + fixed_zip
        # print(fixed_zip, x)
        return fixed_zip
    
df_joined['Zip'].apply(fix_zip_code)

0       99919
1       99702
2       99546
3       99703
4       99505
        ...
1899    26301
1900    26164
1901    82005
1902    82070
1903    82636
Name: Zip, Length: 1904, dtype: object

In [411]:
# site Id also has zeros removed from the beginning, so have to fix that

In [29]:
good_id = "0101188"
correct_length = len(good_id)

df_joined['Site ID'] = df_joined['Site ID'].astype(str)

In [30]:
for index, row in df_joined.iterrows():
    site_id = row['Site ID']    
    # if site_id == 'nan':
    if site_id != 'nan':
        # print(site_id)
        pattern = r'\.0$'
        remove_decimal = re.sub(pattern, '', site_id) 
        if len(remove_decimal) != correct_length:
            # print(remove_decimal)
            remove_decimal = "0" + remove_decimal
        if len(remove_decimal) != correct_length:
            print('still wrong:', remove_decimal)

In [31]:
def fix_site_id(site_id):
    if site_id == 'nan':
        return np.nan 
    else:
        pattern = r'\.0$'
        remove_decimal = re.sub(pattern, '', site_id) 
        if len(remove_decimal) != correct_length:
            # print(remove_decimal)
            remove_decimal = "0" + remove_decimal
        if len(remove_decimal) != correct_length:
            print('still wrong:', remove_decimal)
        # print(remove_decimal)
        return remove_decimal

In [32]:
df_joined['Site ID'] = df_joined['Site ID'].apply(fix_site_id)

In [33]:
df_joined.dtypes

EPA ID                                  object
Site Name_x                             object
City_x                                  object
Country                                 object
State_x                                 object
National Priorities List Status         object
Superfund Alternative Approach          object
Construction Complete                   object
Site-wide Ready for Anticipated Use     object
Human Exposure Under Control            object
Groundwater Migration Under Control     object
Region                                 float64
State_y                                 object
Site Name_y                             object
Site ID                                 object
Address                                 object
City_y                                  object
Zip                                     object
County                                  object
SAA                                     object
FF Ind                                  object
NAI                                     object
Native American Entity (NAI Status)     object
Latitude                               float64
Longitude                              float64
NPL Status Date                         object
pdf_npl_status                          object
dtype: object

In [34]:
df_joined['Site ID']

0       1001984
1       1000110
2       1000128
3       1001146
4       1001455
         ...
1899    0306876
1900    0305428
1901    0800017
1902    0800792
1903    0800852
Name: Site ID, Length: 1904, dtype: object

In [35]:
df_joined['Region'] = df_joined['Region'].astype(str)

In [36]:
#look at city column
for index, row in df_joined.iterrows():
    cityx = row['City_x'].lower()
    cityy = str(row['City_y']).lower()

    if pd.isna(cityx):
        print("city x na")

    if cityx != cityy and not pd.isna(row['City_y']):
        print('city_x:', row['City_x'])
        print('city_y:', row['City_y'])
        
#there is one instance where they seem to actually not match: 
# city_x: HARRISON
# city_y: KEARNY

#otherwise, city_x can be used for all and remove city_y

city_x: LIMESTONE/MORGAN
city_y: LIMESTONE/MORGA N
city_x: ROGUE RIVER-SISKIYOU NF
city_y: ROGUE RIVER- SISKIYOU NF
city_x: PORTSMOUTH/NEWINGTON
city_y: PORTSMOUTH/NEWI NGTON
city_x: SPRINGFIELD TWP(JOBSTOWN)
city_y: SPRINGFIELD TWP (JOBSTOWN)
city_x: HARRISON
city_y: KEARNY
city_x: MAYWOOD/ROCHELLE PARK
city_y: MAYWOOD/ROCHEL LE PARK
city_x: LINCOLN/CUMBERLAND
city_y: LINCOLN/CUMBERLA ND

In [37]:
df_joined[(df_joined['City_x'] == 'HARRISON') & (df_joined['City_y'] == 'KEARNY')]

# Superfund site has 2 different addresses for this site - will just go with city_x

,EPA ID,Site Name_x,City_x,Country,State_x,National Priorities List Status,Superfund Alternative Approach,Construction Complete,Site-wide Ready for Anticipated Use,Human Exposure Under Control,...,Zip,County,SAA,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,pdf_npl_status
1046,NJD092226000,DIAMOND HEAD OIL REFINERY DIV.,HARRISON,HUDSON,NJ,Final NPL,No,No,No,Insufficient Data,...,7032.0,HUDSON,NaN,N,N,NaN,40.747222,-74.132194,09/05/02,final

In [38]:
# drop city_y column
df_joined = df_joined.drop(columns=['City_y'])

In [39]:
df_joined = df_joined.rename(columns={'City_x': 'City'})

In [40]:
# look at site name

for index, row in df_joined.iterrows():
    sitex = row['Site Name_x'].lower()
    sitey = str(row['Site Name_y']).lower()

    if pd.isna(sitex):
        print("site x na")

    if sitex != sitey and not pd.isna(row['Site Name_y']):
        print('site x:', row['Site Name_x'])
        print('site y:', row['Site Name_y'])

# just spacing differences! can remove site name y

site x: JOLIET ARMY AMMUNITION PLANT (LOAD-ASSEMBLY-PACKING AREA)
site y: JOLIET ARMY AMMUNITION PLANT (LOAD- ASSEMBLY-PACKING AREA)
site x: WHITEFORD SALES & SERVICE INC./NATIONALEASE
site y: WHITEFORD SALES & SERVICE INC. /NATIONALEASE

In [41]:
# drop Site Name_y column
df_joined = df_joined.drop(columns=['Site Name_y'])

In [42]:
df_joined = df_joined.rename(columns={'Site Name_x': 'Site Name'})

In [43]:
# check out country vs county

for index, row in df_joined.iterrows():
    country = row['Country'].lower()
    county = str(row['County']).lower()

    if pd.isna(country):
        print("country na")

    if country != county and not pd.isna(row['County']):
        print('country:', row['Country'])
        print('county:', row['County'])

# it looks like they all match so will remove County and then rename Country to County

In [44]:
df_joined = df_joined.drop(columns=['County'])

In [45]:
df_joined = df_joined.rename(columns={'Country': 'County'})

In [46]:
# look at state 

for index, row in df_joined.iterrows():
    statex = row['State_x'].lower()
    statey = str(row['State_y']).lower()

    if pd.isna(statex):
        print("statex na")

    if statex != statey and not pd.isna(row['State_y']):
        print('state x:', row['State_x'])
        print('state y:', row['State_y'])

# it looks like they all match

In [47]:
df_joined = df_joined.drop(columns=['State_y'])

In [48]:
df_joined = df_joined.rename(columns={'State_x': 'State'})

In [49]:
# check out National Priorities List Status and pdf_npl_status to hopefully remove pdf_npl_status
scraping_status = df_joined['National Priorities List Status'].unique().tolist()
pdf_status = df_joined['pdf_npl_status'].unique().tolist()
print(scraping_status)
print(pdf_status)

['Final NPL', 'Deleted NPL', 'Not NPL', 'Proposed NPL', 'Pre-proposal Site', 'Removed from NPL']
['final', 'deleted', nan, 'proposed']

In [50]:
for index, row in df_joined.iterrows():
    scraping_status = row['National Priorities List Status']
    pdf_status = str(row['pdf_npl_status']).lower()

    if pdf_status == 'final' and scraping_status != 'Final NPL':
        print('status no match')

    if pdf_status == 'deleted' and scraping_status != 'Deleted NPL':
        print('status no match')

    if pdf_status == 'proposed' and scraping_status != 'Proposed NPL':
        print('status no match')

# it looks like they all match so can remove pdf_npl_status column

In [51]:
df_joined = df_joined.drop(columns=['pdf_npl_status'])

In [52]:
# check out Superfund Alternative Approach and SAA
alternative = df_joined['Superfund Alternative Approach'].unique().tolist()
saa = df_joined['SAA'].unique().tolist()
print(alternative)
print(saa)

['No ', 'Yes']
[nan, 'N', 'Y']

In [53]:
for index, row in df_joined.iterrows():
    alternative = row['Superfund Alternative Approach']
    saa = row['SAA']

    if alternative == 'No' and saa != 'N' and not pd.isna(saa):
        print('status no match')
        print("alternative", alternative)
        print("saa", saa)
    
    if alternative == 'Yes' and saa != 'Y' and not pd.isna(saa):
        print('status no match')
        print("alternative", alternative)
        print("saa", saa)

# looks like they all match so can remove SAA column

In [54]:
df_joined = df_joined.drop(columns=['SAA'])

In [55]:
df_joined.columns.tolist()

['EPA ID',
 'Site Name',
 'City',
 'County',
 'State',
 'National Priorities List Status',
 'Superfund Alternative Approach',
 'Construction Complete',
 'Site-wide Ready for Anticipated Use',
 'Human Exposure Under Control',
 'Groundwater Migration Under Control',
 'Region',
 'Site ID',
 'Address',
 'Zip',
 'FF Ind',
 'NAI',
 'Native American Entity (NAI Status)',
 'Latitude',
 'Longitude',
 'NPL Status Date']

In [56]:
df_joined.dtypes

EPA ID                                  object
Site Name                               object
City                                    object
County                                  object
State                                   object
National Priorities List Status         object
Superfund Alternative Approach          object
Construction Complete                   object
Site-wide Ready for Anticipated Use     object
Human Exposure Under Control            object
Groundwater Migration Under Control     object
Region                                  object
Site ID                                 object
Address                                 object
Zip                                     object
FF Ind                                  object
NAI                                     object
Native American Entity (NAI Status)     object
Latitude                               float64
Longitude                              float64
NPL Status Date                         object
dtype: object

In [57]:
# 8. check out latitude and longitude columns
lat_rows_with_nan = df_joined[df_joined['Latitude'].isna()]
long_rows_with_nan = df_joined[df_joined['Longitude'].isna()]
# print(len(lat_rows_with_nan))
# print(len(long_rows_with_nan))

# only have lat/long from the PDFs, so will start by just mapping the NPL sites and maybe return to the other sites later

In [58]:
#9. add column for site link
base_url = "https://cumulis.epa.gov/supercpad/CurSites/csitinfo.cfm?id="
df_joined['site_link'] = base_url + df_joined['Site ID']

In [59]:
df_joined.iloc[100]['site_link']

'https://cumulis.epa.gov/supercpad/CurSites/csitinfo.cfm?id=0901206'

# Join with contaminants

In [60]:
df_con = pd.read_csv("../Original_CSVs_contaminant_remedy/Contaminants.csv", low_memory=False)

In [61]:
df_con

,Site Name,EPA ID,City,County,State,ZIP Code,Latitude,Longitude,Region,NPL Status,Superfund Alternative Agreement,Federal Facility,Operable Unit Number,Sequence ID,Decision Document Type,Actual Completion Date,Fiscal Year,Media,Contaminant Name
0,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Other,"1,2-DIHYDROACENAPHTHYLENE"
1,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Other,"1,3-DICHLOROBENZENE"
2,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Other,"1,4-DICHLOROBENZENE"
3,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Other,"2,4-DINITROTOLUENE"
4,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Other,2-CHLORONAPHTHALENE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70181,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Sludge,SELENIUM
70182,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Liquid Waste,SELENIUM
70183,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Soil,ZINC
70184,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Groundwater,ZINC
70185,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Sludge,ZINC

In [62]:
df_con.dtypes

Site Name                           object
EPA ID                              object
City                                object
County                              object
State                               object
ZIP Code                            object
Latitude                           float64
Longitude                          float64
Region                               int64
NPL Status                          object
Superfund Alternative Agreement     object
Federal Facility                    object
Operable Unit Number                 int64
Sequence ID                          int64
Decision Document Type              object
Actual Completion Date              object
Fiscal Year                          int64
Media                               object
Contaminant Name                    object
dtype: object

In [63]:
epa_id_contaminants = df_con.groupby('EPA ID')['Contaminant Name'].apply(lambda x: list(set(x))).reset_index()

In [64]:
epa_id_contaminants.rename(columns={'Contaminant Name': 'Contaminants'}, inplace=True)

In [65]:
epa_id_contaminants

            EPA ID                                       Contaminants
0     AK1570028646  [GASOLINE, HEPTACHLOR EPOXIDE, LEAD, MANGANESE...
1     AK4170024323  [2,4,6-TRINITROTOLUENE, NITROGLYCERIN, N-METHY...
2     AK6210022426  [GASOLINE, HEPTACHLOR EPOXIDE, LEAD, HEPTACHLO...
3     AK6214522157  [1,2,3-TRICHLOROPROPANE, DIBENZO(A,H)ANTHRACEN...
4     AK8570028649  [GASOLINE, LEAD, VOC, MANGANESE, 1,1,1-TRICHLO...
...            ...                                                ...
1616  WVD988798401  [TRICHLOROETHENE, 1,2-DICHLOROETHANE, TETRACHL...
1617  WVSFN0305428                                [TETRACHLOROETHENE]
1618  WY5571924179  [COBALT, ALUMINUM OXIDE, LEAD, MANGANESE, 1,1,...
1619  WYD061112470  [ANTHRACENE, NAPHTHALENE, 1,2,3,4,6,7,8-HEPTAC...
1620  WYD981546005  [TRICHLOROETHENE, XYLENE (MIXED ISOMERS), TETR...

[1621 rows x 2 columns]

In [66]:
epa_id_contaminants_media = df_con.groupby('EPA ID')['Media'].apply(lambda x: list(set(x))).reset_index()

In [67]:
epa_id_contaminants_media.rename(columns={'Media': 'Contaminants Media'}, inplace=True)

In [68]:
epa_id_contaminants_media

            EPA ID                                 Contaminants Media
0     AK1570028646  [Soil, Liquid Waste, Surface Water, Groundwate...
1     AK4170024323                                             [Soil]
2     AK6210022426                                [Groundwater, Soil]
3     AK6214522157               [Groundwater, Other, Soil, Sediment]
4     AK8570028649       [Groundwater, Soil, Surface Water, Sediment]
...            ...                                                ...
1616  WVD988798401                                [Groundwater, Soil]
1617  WVSFN0305428                                      [Groundwater]
1618  WY5571924179                           [Groundwater, Soil, Air]
1619  WYD061112470                                [Groundwater, Soil]
1620  WYD981546005                                [Groundwater, Soil]

[1621 rows x 2 columns]

In [69]:
df_joined_contam = pd.merge(df_joined, epa_id_contaminants_media, on="EPA ID", how="outer")

In [70]:
df_joined_contam = pd.merge(df_joined_contam, epa_id_contaminants, on="EPA ID", how="outer")

In [71]:
df_joined_contam

,EPA ID,Site Name,City,County,State,National Priorities List Status,Superfund Alternative Approach,Construction Complete,Site-wide Ready for Anticipated Use,Human Exposure Under Control,...,Zip,FF Ind,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,site_link,Contaminants Media,Contaminants
0,AK0001897602,SALT CHUCK MINE,THORNE BAY,[Blank County],AK,Final NPL,No,No,No,Yes,...,99919.0,N,Y,Organized Village of Kasaan (Current),55.626442,-132.558853,03/04/10,https://cumulis.epa.gov/supercpad/CurSites/csi...,NaN,NaN
1,AK1570028646,EIELSON AIR FORCE BASE,FAIRBANKS,FAIRBANKS NORTH STAR,AK,Final NPL,No,Yes,No,Insufficient Data,...,99702.0,Y,N,NaN,64.671450,-147.049200,11/21/89,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Soil, Liquid Waste, Surface Water, Groundwate...","[GASOLINE, HEPTACHLOR EPOXIDE, LEAD, MANGANESE..."
2,AK4170024323,ADAK NAVAL AIR STATION,ADAK,[Blank County],AK,Final NPL,No,No,No,Yes,...,99546.0,Y,N,NaN,51.877500,-176.652500,05/31/94,https://cumulis.epa.gov/supercpad/CurSites/csi...,[Soil],"[2,4,6-TRINITROTOLUENE, NITROGLYCERIN, N-METHY..."
3,AK6210022426,FORT WAINWRIGHT,FORT WAINWRIGHT,[Blank County],AK,Final NPL,No,Yes,No,Insufficient Data,...,99703.0,Y,N,NaN,64.823000,-147.610600,08/30/90,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil]","[GASOLINE, HEPTACHLOR EPOXIDE, LEAD, HEPTACHLO..."
4,AK6214522157,FORT RICHARDSON (USARMY),ANCHORAGE,[Blank County],AK,Final NPL,No,Yes,No,Insufficient Data,...,99505.0,Y,N,NaN,61.258333,-149.700000,05/31/94,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Other, Soil, Sediment]","[1,2,3-TRICHLOROPROPANE, DIBENZO(A,H)ANTHRACEN..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,WVN000306876,NORTH 25TH STREET GLASS AND ZINC,CLARKSBURG,HARRISON,WV,Final NPL,No,No,No,No,...,26301.0,N,N,NaN,39.297053,-80.357433,09/09/16,https://cumulis.epa.gov/supercpad/CurSites/csi...,NaN,NaN
1902,WVSFN0305428,RAVENSWOOD PCE,RAVENSWOOD,JACKSON,WV,Final NPL,No,Yes,Yes,Yes,...,26164.0,N,N,NaN,38.951667,-81.761667,09/23/04,https://cumulis.epa.gov/supercpad/CurSites/csi...,[Groundwater],[TETRACHLOROETHENE]
1903,WY5571924179,F.E. WARREN AIR FORCE BASE,CHEYENNE,LARAMIE,WY,Final NPL,No,No,No,Insufficient Data,...,82005.0,Y,N,NaN,41.152742,-104.862334,02/21/90,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil, Air]","[COBALT, ALUMINUM OXIDE, LEAD, MANGANESE, 1,1,..."
1904,WYD061112470,BAXTER/UNION PACIFIC TIE TREATING,LARAMIE,ALBANY,WY,Deleted NPL,No,Yes,No,Yes,...,82070.0,N,N,NaN,41.295174,-105.603235,12/06/99,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil]","[ANTHRACENE, NAPHTHALENE, 1,2,3,4,6,7,8-HEPTAC..."
1905,WYD981546005,MYSTERY BRIDGE RD/U.S. HIGHWAY 20,EVANSVILLE,NATRONA,WY,Deleted NPL,No,Yes,Yes,Yes,...,82636.0,N,N,NaN,42.860581,-106.228800,09/20/19,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil]","[TRICHLOROETHENE, XYLENE (MIXED ISOMERS), TETR..."

# Join with Remedies

In [72]:
df_rem = pd.read_csv("../Original_CSVs_contaminant_remedy/RemedyComponents.csv", low_memory=False)

In [73]:
df_rem

,Site Name,EPA ID,City,County,State,Zip Code,Latitude,Longitude,Region,NPL Status,Superfund Alternative Agreement,Federal Facility,Operable Unit Number,Sequence ID,Decision Document Type,Actual Completion Date,Fiscal Year,Media,Remedy Component
0,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Explanation of Significant Differences,9/16/09,2009,Groundwater,ESD - Nonfundamental Change (other)
1,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Sediment,"Containment (other, not otherwise specified, o..."
2,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Soil,Disposal (offsite)
3,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Soil,Excavation
4,ATLAS TACK CORP.,MAD001026319,FAIRHAVEN,BRISTOL,MA,02719,41.635561,-70.89445,1,Currently on the Final NPL,N,N,1,1,Record of Decision,3/10/00,2000,Sediment,Excavation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36588,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Groundwater,Monitoring
36589,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Sludge,"Physical Separation (exsitu, onsite)"
36590,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Soil,"Treatment (other, not otherwise specified, off..."
36591,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Sludge,"Treatment (other, not otherwise specified, off..."
36592,YAKIMA PLATING CO.,WAD040187890,YAKIMA,YAKIMA,WA,98902,46.572300,-120.50890,10,Deleted from the Final NPL,N,N,1,1,Record of Decision,9/30/91,1991,Liquid Waste,"Treatment (other, not otherwise specified, ons..."

In [74]:
epa_id_rems = df_rem.groupby('EPA ID')['Remedy Component'].apply(lambda x: list(set(x))).reset_index()

In [75]:
epa_id_rems

            EPA ID                                   Remedy Component
0     AK1570028646  [Extraction (recovery/vertical well), Water Su...
1     AK4170024323  [Disposal (offsite), Revegetation, Excavation,...
2     AK6210022426  [Vapor Extraction (insitu), ESD/Amd - Cleanup/...
3     AK6214522157  [Monitoring, Chemical Oxidation (exsitu), Cap ...
4     AK8570028649  [Storage (temporary, onsite), Extraction (reco...
...            ...                                                ...
1679  WVD988798401  [Monitoring, Institutional Controls, Air Sparg...
1680  WVSFN0305428  [Monitoring, Water Supply (permanent wellhead ...
1681  WY5571924179  [Extraction (recovery/vertical well), Drainage...
1682  WYD061112470  [Hydraulic Control (containment), Carbon Adsor...
1683  WYD981546005  [Monitoring, Extraction (recovery/vertical wel...

[1684 rows x 2 columns]

In [76]:
epa_id_rems_media = df_rem.groupby('EPA ID')['Media'].apply(lambda x: list(set(x))).reset_index()

In [77]:
epa_id_rems_media.rename(columns={'Media': 'Remedies Media'}, inplace=True)

In [78]:
epa_id_rems_media

            EPA ID                                     Remedies Media
0     AK1570028646  [Debris, Soil, Liquid Waste, Surface Water, Gr...
1     AK4170024323  [Debris, Soil, Surface Water, Solid Waste, Gro...
2     AK6210022426  [Soil, Surface Water, Solid Waste, Groundwater...
3     AK6214522157  [Soil, Surface Water, Groundwater, Other, Sedi...
4     AK8570028649  [Soil, Sludge, Surface Water, Groundwater, Fre...
...            ...                                                ...
1679  WVD988798401                                [Groundwater, Soil]
1680  WVSFN0305428                      [Groundwater, Soil, Soil Gas]
1681  WY5571924179  [Soil, Landfill Gas, Soil Gas, Surface Water, ...
1682  WYD061112470                                      [Groundwater]
1683  WYD981546005                                [Groundwater, Soil]

[1684 rows x 2 columns]

In [79]:
df_joined_contam_rems = pd.merge(df_joined_contam, epa_id_rems_media, on="EPA ID", how="outer")

In [80]:
df_joined_contam_rems = pd.merge(df_joined_contam_rems, epa_id_rems, on="EPA ID", how="outer")

In [81]:
df_joined_contam_rems

,EPA ID,Site Name,City,County,State,National Priorities List Status,Superfund Alternative Approach,Construction Complete,Site-wide Ready for Anticipated Use,Human Exposure Under Control,...,NAI,Native American Entity (NAI Status),Latitude,Longitude,NPL Status Date,site_link,Contaminants Media,Contaminants,Remedies Media,Remedy Component
0,AK0001897602,SALT CHUCK MINE,THORNE BAY,[Blank County],AK,Final NPL,No,No,No,Yes,...,Y,Organized Village of Kasaan (Current),55.626442,-132.558853,03/04/10,https://cumulis.epa.gov/supercpad/CurSites/csi...,NaN,NaN,NaN,NaN
1,AK1570028646,EIELSON AIR FORCE BASE,FAIRBANKS,FAIRBANKS NORTH STAR,AK,Final NPL,No,Yes,No,Insufficient Data,...,N,NaN,64.671450,-147.049200,11/21/89,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Soil, Liquid Waste, Surface Water, Groundwate...","[GASOLINE, HEPTACHLOR EPOXIDE, LEAD, MANGANESE...","[Debris, Soil, Liquid Waste, Surface Water, Gr...","[Extraction (recovery/vertical well), Water Su..."
2,AK4170024323,ADAK NAVAL AIR STATION,ADAK,[Blank County],AK,Final NPL,No,No,No,Yes,...,N,NaN,51.877500,-176.652500,05/31/94,https://cumulis.epa.gov/supercpad/CurSites/csi...,[Soil],"[2,4,6-TRINITROTOLUENE, NITROGLYCERIN, N-METHY...","[Debris, Soil, Surface Water, Solid Waste, Gro...","[Disposal (offsite), Revegetation, Excavation,..."
3,AK6210022426,FORT WAINWRIGHT,FORT WAINWRIGHT,[Blank County],AK,Final NPL,No,Yes,No,Insufficient Data,...,N,NaN,64.823000,-147.610600,08/30/90,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil]","[GASOLINE, HEPTACHLOR EPOXIDE, LEAD, HEPTACHLO...","[Soil, Surface Water, Solid Waste, Groundwater...","[Vapor Extraction (insitu), ESD/Amd - Cleanup/..."
4,AK6214522157,FORT RICHARDSON (USARMY),ANCHORAGE,[Blank County],AK,Final NPL,No,Yes,No,Insufficient Data,...,N,NaN,61.258333,-149.700000,05/31/94,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Other, Soil, Sediment]","[1,2,3-TRICHLOROPROPANE, DIBENZO(A,H)ANTHRACEN...","[Soil, Surface Water, Groundwater, Other, Sedi...","[Monitoring, Chemical Oxidation (exsitu), Cap ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,WVN000306876,NORTH 25TH STREET GLASS AND ZINC,CLARKSBURG,HARRISON,WV,Final NPL,No,No,No,No,...,N,NaN,39.297053,-80.357433,09/09/16,https://cumulis.epa.gov/supercpad/CurSites/csi...,NaN,NaN,NaN,NaN
1903,WVSFN0305428,RAVENSWOOD PCE,RAVENSWOOD,JACKSON,WV,Final NPL,No,Yes,Yes,Yes,...,N,NaN,38.951667,-81.761667,09/23/04,https://cumulis.epa.gov/supercpad/CurSites/csi...,[Groundwater],[TETRACHLOROETHENE],"[Groundwater, Soil, Soil Gas]","[Monitoring, Water Supply (permanent wellhead ..."
1904,WY5571924179,F.E. WARREN AIR FORCE BASE,CHEYENNE,LARAMIE,WY,Final NPL,No,No,No,Insufficient Data,...,N,NaN,41.152742,-104.862334,02/21/90,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil, Air]","[COBALT, ALUMINUM OXIDE, LEAD, MANGANESE, 1,1,...","[Soil, Landfill Gas, Soil Gas, Surface Water, ...","[Extraction (recovery/vertical well), Drainage..."
1905,WYD061112470,BAXTER/UNION PACIFIC TIE TREATING,LARAMIE,ALBANY,WY,Deleted NPL,No,Yes,No,Yes,...,N,NaN,41.295174,-105.603235,12/06/99,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil]","[ANTHRACENE, NAPHTHALENE, 1,2,3,4,6,7,8-HEPTAC...",[Groundwater],"[Hydraulic Control (containment), Carbon Adsor..."
1906,WYD981546005,MYSTERY BRIDGE RD/U.S. HIGHWAY 20,EVANSVILLE,NATRONA,WY,Deleted NPL,No,Yes,Yes,Yes,...,N,NaN,42.860581,-106.228800,09/20/19,https://cumulis.epa.gov/supercpad/CurSites/csi...,"[Groundwater, Soil]","[TRICHLOROETHENE, XYLENE (MIXED ISOMERS), TETR...","[Groundwater, Soil]","[Monitoring, Extraction (recovery/vertical wel..."

## First Draft

In [ ]:
# df_joined.to_csv('joined_data_draft1.csv', index=False)

## Second Draft after Joining with Contaminants and Remedies

In [499]:
# df_joined_contam_rems.to_csv('joined_data_draft2.csv', index=False)

## Second Draft again but remove any rows without Long/Lat for mapping purposes

In [501]:
# df_joined_mapping = df_joined_contam_rems.dropna(subset=['Latitude', 'Longitude'])

In [83]:
# df_joined_mapping

In [84]:
# df_joined_mapping.to_csv('df_joined_mapping.csv', index=False)

## Final Draft again but remove any rows without Long/Lat for mapping purposes

In [85]:
df_joined_final = df_joined_contam_rems.dropna(subset=['Latitude', 'Longitude'])

In [86]:
df_joined_final.to_csv('df_joined_final.csv', index=False)